.container{
    width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 4%;
    background-color: #1B98F5;
}
.section-heading{
    font-size: 3em;
    margin-left: 2%;
    padding-top: 4%;
    width: 100%;
    height: 20%;
}
.section-body{
    height: 80%;
    width: 100%;
}
.section-left{
    height: 100%;
    width: 70%;
    float: left;
    background-color: #22CB5C;
}
.section-right{
    height: 100%;
    width:30% ;
    float: left;
    background-color: #E03B8B;
}
.section1{
    height: 40%;
    width: 85%;
    background-color: white;
    
    margin: auto;
    margin-top: 4%;
}
.heading{
    font-size: 3em;
    height: 30%;
    padding-top: 3%;
    padding-left: 2%;
}
.body{
    font-size: 20px;
    height: 40%;
    padding-top: 5%;
    padding-left: 2%;
}
.right-heading{
    font-size: 3em;
    height: 20%;
    padding-top: 3%;
    padding-left: 2%;

}
.right-body{
    font-size: 20px;
    height: 40%;
    padding-top: 5%;
    padding-left: 2%;
}