.container{
    width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 4%;
}
.section-nav{
    height: 20%;
    width: 100%;
    background-color: #35BDD0
}
.section-body{
    height: 70%;
    margin-top: 2%;
    width: 100%;
    background-color:#8D3DAF ;
}
.nav-lists{
    padding-left: 20%;
    padding-top: 3.5%;
}
.nav-items{
    float: left;
    
    padding-right: 3%;
    font-size: 3em;
  
}

.product a:hover{
    display: block;
    visibility: visible;
}
.subitems{
    position: absolute;
    max-width: 150px;
    max-height: 180px;
    background-color:  #35BDD0;
    display: none;
}
.section{
    width: 90%;
    height: 40%;
    margin: auto;
    margin-top: 3%;
}
.subsection-image{
    height: 100%;
    width: 40%;
    float: left;
}
.subsection-image img{
    height: 200px;
    width: 300px;
    padding-top: 10%;
}
.subsection-details{
    float: left;
    
}
.subsection-body{
    font-size: 23px;
    padding-top: 5%;
}
.subssection{
    font-size: 23px;
    padding-top: 5%;
}