.container{
    width: 1500px;
    height: 800px;
    background-color: #EDC126;
    margin: auto;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}
.section{
    width: 1500px;
    height: 150px;
    background-color: #23C4ED;
    margin: auto;
    
}
.logo img{
    border-radius: 50%;
    width: 9%;
    margin-left: 10%;
    display: inline-block;
    padding-top: 0.5%;
}
.companyname{
    display: inline-block;
    width: 70%;
    float: right;
    margin-top: -8%;
    font-size: 3em;
}
.section1{
    width: 30%;
    height:55% ;
    background-color: #51E1ED;
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 25px;
}
.section1 .items{
    text-align: center;
    padding-top: 10%;
    font-size: 3em;
}
.section2{
    width: 50%;
    height: 55%;
    background-color:#51E1ED ;
    position: absolute;
    margin-top: 5%;
    margin-left: 40%;
    border-radius: 25px;
}
.section-heading{
    text-align: center;
    font-size: 3em;
    padding-top: 2%;
}
.section-scroll{
    font-size: 35px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
.about1{
    width: 60%;
    padding-left: 2%;
    padding-top: 5%;
    display: inline-block;
}
.about1-heading{
    font-size: 3em;
    
}
.about1-body{
    font-size: 30px;
    padding-top: 3%;
}
.about2{
    display: inline-block;
    width: 20%;
    height:55%;
}
.about2 img{
    width: 450px;
    height: 400px;
   margin-top:2%
}
.contact-heading{
    font-size: 3em;
    padding-left: 2%;
    padding-top: 3%;
}
.contact-body{
    margin-left: 20%;
    width: 60%;
    height: 50%;
    background-color: #242B2E;
    position: absolute;
    border-radius: 25px;
}
.contact-body-heading{
    text-align: center;
    color: white;
    padding-top: 2%;
    font-size: 20px;
}
.contact-body-value{
    text-align: center;
    color: white;
    padding-top: 5%;
    font-size: 2em;
    line-height: 1.5;
}